.post-listing-page {
  .post-listing--wrapper {
    padding: 30px 20px;
  }
  ul {
    list-style: none;
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
    li {
      text-align: left;
      margin-bottom: 25px;
      flex: 0 0 50%;
      max-width: 50%;
      padding: 0 15px;
    }
    article {
      max-width: 100% !important;
      height: 100%;
    }
    h4{
      font-weight: 700;
    }
  }
  .media {
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    .media-aside {
      border-radius: 50%;
      overflow: hidden;
    }
    h5 {
      font-weight: 700;
    }
    .user-data {
      display: block;
      font-size: 14px;
      margin-bottom: 5px;
    }
  }
}
